<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>iAssist - Add Guest</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <link rel="icon" href="/static/icono.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo"></div>
        </div>
    </header>
<h3>Registrar Invitado</h3>
<hr/>
{%- for categoria, mensaje in get_flashed_messages(with_categories=true) %}
<div class="alert alert-danger">
    {{ mensaje }}
</div>
{%- endfor %}

<form action="{{ request.path }}" method="post">
	<div class="grouptwo">
    <label>Nombre</label>
    <input type="text" name="name" placeholder="Nombre Apellido" required><br>
    </div>

    <div class="grouptwo">
    <label>Correo</label>
    <input type="text" name="email" placeholder="tucorreo@email.com" required><br>
    </div>

    <div class="grouptwo">
    <label>Telefono</label>
    <input type="text" name="phone" placeholder="62524785"><br>
    </div>

    <div class="grouptwo">
    <label>Evento</label>
    <input type="text"name="event" placeholder="#"><br>
    </div>

    <div class="grouptwo">
    <label>Estado</label>
    <input type="text"name="estado" placeholder="S/N/P"><br>
    </div>

    <p><input type = "submit" value = "Registrar invitado" class = "buttom-two"></p>
</form>

	<footer id="main-footer">
		<p>&copy; All Rights Reserved 2017</p>
        <nav>
        	<a href="{{ url_for('inicio') }}">HOME</a>
        </nav>
	</footer>

    <div id="preloader">
    	<div id="loader"></div>
   </div>

<!--JavaScript-->
   <script src="/static/jquery-1.11.3.min.js"></script>
   <script src="/static/main.js"></script>
</body>
</html>
